extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  body
block content
  div(class="grid-wrapper")
    div(class="grid-element" id="body-background")
        nav.navbar
            a(href="/" id="home-btn")
                img(src='images/homeCow.png' width='175')
            div(id="nav-button")
            ul
                li: a(href="/users/demouser") Demo User
                li: a(href="/users/login") Login
                li: a(href="/users/register") Register
                li
                    form(action="/users/login" method= "post"): button(type="submit") Login
      
      
