doctype html
html
  head
      block head
        title="Express Starter App"
<<<<<<< HEAD
        link(rel='stylesheet' href='/stylesheets/reset.css')
        
=======
>>>>>>> main
  body

    block content
