doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    //- nav.navbar
    //-     a(href="/" id="home-btn")
    //-         img(src='images/homeCow.png' width='175')
    //-     div(id="nav-spacer")
    //-     ul
    //-         li: a(href="/users/login") Login
    //-         li: a(href="/users/register") Register
    //-         li
    //-             form(action="/users/logout" method= "post"): button(type="submit") Logout
    block content
