link(rel="stylesheet" href="/stylesheets/main-body.css")
  
div.main-body 
    div.main-container 
        div.nav-container
            p.quote The smart to-do app for busy people.
            a(href="/users/register" class="btn" id="signup-main-page") Sign Up Free
        div.pic1
            div.left-bubble-1
                p blah blah blah
            div.right-bubble-1
                p blah blah blah
                    img(src="../public/images/cow-holding-milk.png", alt="")
            div.bubble-1
                p blah blah blah
            div.bubble-1
                p blah blah blah
            div.right-bubble-1
                p blah blah blah
            div.right-bubble-1
                p blah blah blah
        div.pic2
        