link(rel="stylesheet" href="/stylesheets/main-footer.css")

div.link
      div(id="link-1")
        a(href="https://github.com/fanny-chan" class="button") Fanny Chan
      div(id="link-2")
        a(href="https://github.com/nerdkitty1988" class="button") Jami Travers
      div(id="link-3")
        a(href="https://github.com/sherry-debug715" class="button") Sherry Yu
      div(id="link-4")
        a(href="https://github.com/taylor-b-02" class="button") Taylor Barnabic

