

link(rel="stylesheet" href="/stylesheets/main-navbar.css")
  
body
block content
div.main
    nav.navbar
        div(id="nav-container")
            a(href="/" id="top-nav-logo")
            div(class="nav-button")
            ul
                a(href="/users/demouser") Demo User
                a(href="/users/login") Login
                a(href="/users/register") Register
                li
                    form(action="/users/login" method= "post"): button(type="submit" class="btn") Sign Up For Free

