link(rel="stylesheet" href="/stylesheets/main-body.css")


div.main-body
  div.main-container
    div.nav-container
        p.quote The healthy to-do app for busy people.
        a(href="/users/register" class="btn" id="signup-main-page") Sign Up Free
  div.pic1
      div.left-bubble-1
        img(src="../images/text-bubble.png", alt="" id="left-bubbleimg-1")
        div
          p buy the milk
      div.right-bubble-1
        img(src="../images/text-bubble.png", alt="" id="right-bubbleimg-1")
        div
          p ...drink the milk
      img(src="../images/cow-holding-milk.png", alt="" id="cow-image-1")
      div.end1
        p Get Reminded, anywhere
      div.end2
        p You'll never forget to drink the milk
  div.pic2
      div.left-bubble-2
      div.l-bubble-text
        p exercise
      img(src="../images/exercise.png", alt="" id="person-image-2")
      div.right-bubble-2
        p stretch
  //- div.pic3
  //-     div.left-bubble-3
  //-       p blah blah blah
  //-     img(src="../images/shopping.png", alt="" id="person-image-3")
  //-     div.end-1-3
  //-       p blah blah blah
  //-     div.end-2-3
  //-       p blah blah blah
  //- div.pic4
  //-     img(src="../images/meditating.jpeg", alt="" id="person-image-4")
  //-     div.end-1-4
  //-       p blah blah blah
  //-     div.end-2-4
  //-       p blah blah blah
  //- div.dots
  //-     div(id="dot-1")
  //-     div(id="dot-2")
  //-     div(id="dot-3")
  //-     div(id="dot-4")
