

link(rel="stylesheet" href="/stylesheets/main-navbar.css")

body
block content
div.main
    nav.navbar
        div(id="nav-container")
            a(href="/" id="top-nav-logo")
            div(class="nav-button")
            ul
                form(action="/users/login" method= "post" class="inline")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="hidden" name="loginIdentifier" value="demoUser")
                        input(type="hidden" name="password" value="Test1!")
                        button(type="submit" class="demoUserButton") Demo User
                a(href="/users/login") Login
                li
                    form(action="/users/register" method= "get"): button(type="submit" class="btn") Sign Up For Free
            
