extends layout.pug

block scripts
    script(src="/javascripts/search.js")

block content
    div(id="container")
        div(id="nav")
            a(href="" id="menu-img"): img(src="/icons/menu.png", alt="Menu" class="icon")
            div(id="nav-search")
                form(action='/lists/searchResults' method='get' )
                    img(src="/icons/search.png" alt="Search" id="nav-search-img" class="icon")
                    input(type="text" id="nav-search-input")
                    button(type='submit') Search
            div(class="dropdown" img src="/icons/settings.png" alt="Settings" class="icon")
                img(src="/icons/settings.png" alt="Settings" id="nav-settings-img" class="icon" role="button")
                div(class="dropdown-content")
                    a(href=`/users/${user.id}/profile` id="profile-link") Profile
                    form(action="/users/logout" method= "post" class="inline")
                        input(type="hidden" name="extra_param")
                        button(type="submit" class="link-button") Logout
