extends layout

block content
    div(class="sign-up-container")
        div(class="errors-container")
        h3 Sign up for free.
        form(class="sign-up-form" action="/users/register" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Email
            input(type="email" name="email")
            label(for="username") Username
            input(type="text" name="username")
            label(for="dateOfBirth") Date of Birth
            input(type="date" name="dateOfBirth")
            label(for="password") Password
            input(type="password" name="password")
            label(for="confirmPassword") Confirm Password
            input(type="password" name="confirmPassword")
            button(type="submit" name="signUpButton") Sign up!
