extends layout

block content

    div(id="edit-password-container")
        div(class="errors-container")
            h3 Edit Password
            form(class="edit-password-form" action=`/users/${user.id}/edit-password` method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="newPassword") New Password
                input(type="password" name="newPassword")
                label(for="confirmNewPassword") Confirm New Password
                input(type="text" name="confirmNewPassword")
                button(type="submit" name="editProfileButton") Submit
