extends layout

block content
    link(rel="stylesheet" href="/stylesheets/profile.css")
    link(rel='stylesheet' href='/stylesheets/user-home.css')

    include navbar.pug
    div(class="errors-container")
        div(id="edit-password-container")
            h3(class="edit-head") Edit Password
            form(class="edit-form" action=`/users/${user.id}/edit-password` method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="newPassword") New Password
                input(type="password" name="newPassword")
                label(for="confirmNewPassword") Confirm New Password
                input(type="password" name="confirmNewPassword")
                button(class="edit-button" type="submit" name="editProfileButton") Submit
                a(class='cancel-button' href=`/users/${user.id}/profile` role='button') Cancel
