extends layout.pug

append head

    link(rel="stylesheet" href="/stylesheets/login.css")

block content
    div(class="grid-wrapper")
        div(class="grid-element" id="left-side")
        div(class="log-in-container")
            div(class="errors-container")
            div(class="login-grid")
                form(class="log-in-form" action="/users/login" method="post")
                    h3 Been here before? Welcome back!
                        input(type="hidden" name="_csrf" value=csrfToken)
                        label(for="loginIdentifier") 
                        input(class="username" type="text" name="loginIdentifier" placeholder="Email or Username") 
                        label(for="password") 
                        input(type="password" name="password" placeholder="Password" class="password")
                        button(type="submit" name="loginButton" id="loginButton") Log in
                        label(for="agreement" class="stayloggedin") Stay Logged In
                        input(type="checkbox" name="agreement" checked="checked" class="checkbox") 

                div(class="orword") OR
                        button(type="submit" name="facebook" id="facebookbtn") Log in with Facebook 
                        button(type="submit" name="google" id="googlebtn")  Log in with Google
        
