extends layout.pug

append head

    link(rel="stylesheet" href="/stylesheets/login.css")

block content
    div(class="grid-wrapper")
        div(class="grid-element" id="left-side")
            div(class="product")
                p(class="quote-block" style="text-align:center;") “You don't have to be great to start, but you have to start to be great”
                p(class="footer" style="text") -Zig Zigler
            div(class="login-curator")
                div(class="login-curator-avatar")
                div(class="login-curator-text") Quotes curated by Bob T. Monkey, reowned productivity expert
        div(class="log-in-container")
            div(class="errors-container")
<<<<<<< HEAD
            div(class="sign-up-btn")
                form(action="/users/register" method= "post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(type="submit" name="submit" id="sign-up") Sign up for free
=======
                if errors
                    div(class='alert alert-danger' role='alert')
                        p The following error(s) occurred:
                        ul
                            each error in errors
                                li(class="listError")= error
>>>>>>> main
            div(class="login-grid")
                form(class="log-in-form" action="/users/login" method="post")
                    h3 Been here before? Welcome back!
                        input(type="hidden" name="_csrf" value=csrfToken)
                        label(for="loginIdentifier")
                        input(class="username" type="text" name="loginIdentifier" placeholder="Email or Username")
                        label(for="password")
                        input(type="password" name="password" placeholder="Password" class="password")
                        button(type="submit" name="loginButton" id="login-button") Log in
                        label(for="agreement" class="stayloggedin") Stay Logged In
<<<<<<< HEAD
                        input(type="checkbox" name="agreement" checked="checked" class="checkbox") 
            
            

                    
        
=======
                        input(type="checkbox" name="agreement" checked="checked" class="checkbox")
            div(class="quote")
>>>>>>> main
