* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}


body{
	background-color: #0060bf;
}

.navbar {
	background-color: pink;
	height: 114px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	color: white;
	list-style-type: none;
	height: 114px;
	width: 2fr; 
}

a {
	display: inline-flex;
	background-color: transparent;
	margin: 10px;
	margin-left: 0px;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	padding: 4px;
}

/* #home-btn {
	color: white;
	/* width: 1fr;  */
	 /* border-style: solid; */
*/


#nav-button {
	width: 70%;
}

button {
	font-size: 15px;
	background-color: #3292f2;
	border-radius: 3px;
	padding: 4px;
	color: white;
	margin-right: 20px;
	margin-left: 0px;
}
