* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}


.whole-page {
	height: 100%;
	width: 100%;
	background-color: #0060bf;
	position: absolute;
}

#top-nav-logo {
	background-image: url(../images/homeCow.png);
	background-repeat: no-repeat;
	background-size: 179px auto;
	width: 179px;
	height: 200px;
	display: inline-block;
	margin: 12px 0 0 2px;
	position: relative;
	z-index: 4;
}
	
.navbar {
	position: fixed;
	top: 0;
	background-color: pink;
	height: 114px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	list-style-type: none;
	height: 114px;
	width: 2fr; 
}

a {
	display: inline-flex;
	background-color: transparent;
	margin: 10px;
	margin-left: 0px;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	padding: 4px;
	color: #ffff;
}

/* #home-btn {
	color: white;
	/* width: 1fr;  */
	 /* border-style: solid; */
*/


#nav-button {
	width: 70%;
}

button {
	font-size: 15px;
	background-color: #3292f2;
	border-radius: 3px;
	padding: 4px;
	color: white;
	margin-right: 20px;
	margin-left: 0px;
}

.main {
    background-color: transparent;
    text-align: center;
}