*{
    box-sizing: border-box;
    display: block;
}

html {
    overflow-x: hidden;
}
.main-page {
    position: relative;
}
.main-body {
    padding-top: 8em;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh; 
    transition: background-color 1s ease;
}

div.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.nav-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p.quote {
    font-size: 44px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-self: center;
    margin-bottom: 30px;
}

.nav-container > a {
    align-self: center;
    padding: 15px 35px;
    background-color: #d24b03;
    font-size: 23px;
    text-align: center;
    color: white;
    border-radius: 5px;
}


    /* FRAME 1 */

    div.pic1 {
        position: absolute;
        width:50em;
        height: 50em;
        animation: 1s linear;
        left:50%;
        
        transform: translateX(-50%);
    }
    /* #person-image-2 {
        position: absolute;
    } */

    #cow-image-1 {
        position: absolute;
        /* height: 350px; */
        width: 23em; 
        left:15em;
        top: 21em;
    }

    div.left-bubble-1 > img {
        position: absolute ;
        left: 36em;
        top: 14em;
    }

    div.left-bubble-1 > div {
        width: 5em;
        text-align: center;
        font-size: 22px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        position: absolute;
        left: 27em;
        bottom: 21em;
    }

    div.right-bubble-1 > div {
        width: 5em;
        position: absolute;
        text-align: center;
        font-size: 22px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        top: 11em;
        left: 6em;
    }
    div.right-bubble-1 > img {
        position: absolute;
        left: 7em;
        top:14em;
        width: 9em;
    }

    .end1 {
        font-size: 28px;
    }

    .end2 {
        font-size: 20px;
    }

    div.end1 > p {
        position: absolute;
        bottom: 1em;
        left:9em;
        font-family: Arial, Helvetica, sans-serif;
    }

    div.end2 > p {
        position: absolute; 
        bottom: 0em;
        left:13em;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* FRAME 2 */
    div.pic2 {
        position: absolute;
        width:30em;
        height: 50em;
        top: 22em;
        animation: 1s linear;
        left: 250%;
        transform: translateX(-50%);
    }
    
    div.left-bubble-2 {
        position:absolute;
        background-color:white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        top: 5em;
        left: -12em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    #person-image-2 {
        position: absolute;
        width: 13em;
        top: 3em;
        left: 9em;
        
    }

    div.right-bubble-2 {
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        left: 20em;
        top: 3em;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    div.end2-1 {
        position: absolute;
        top: 29.5em;
        left: 8em;
    }
    div.end2-2 {
        position: absolute;
        left: 3em;
        top: 32.5em;
    }

    div.end2-1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
    }
    div.end2-2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

     /* FRAME 3 */
    div.pic3 {
        position: absolute;
        width:30em;
        height: 40em;
        animation: 1s linear;
        top: 25.5em;
        left: 250%;
        transform: translateX(-50%);
    }

    #person-image-3 {
        width: 30em;
    }

    div.left-bubble-3 {
        background-color: blue;
        position:absolute;
        background-color: white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        top: 5em;
        left: -12em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    div.right-bubble-3 {
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        left: 23em;
        top: 3em;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    
    div.end3-1 {
        position: absolute;
        top: 26em;
        left: 6em;
    }
    div.end3-2 {
        position: absolute;
        display: flex;
        left: 4em;
        top: 29em;
    }

    div.end3-1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
    }
    div.end3-2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
     /* FRAME 4 */

    div.pic4 {
        position: absolute;
        width:50em;
        height: 50em;
        animation: 1s linear;
        left: 250%;
        transform: translateX(-50%);
        top: 30em;
    }

    #person-image-4 {
        position: absolute;
        width: 18em;
        left: 20em;
        top: -2em;
    }
    div.end4-1 {
        position: absolute;
        top: 20.7em;
        left: 15.5em;
    }

    div.end4-2 {
        position: absolute;
        display: flex;
        left: 9em;
        top: 24em;
    }

    div.end4-1 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
    
    }
    div.end4-2 > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        
    }

    div.left-bubble-4 {
        position:absolute;
        background-color: white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        top: 0em;
        left: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    div.right-bubble-4 {
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:white;
        border-radius: 4px;
        width: 16em;
        height: 2em;
        left: 36em;
        top: 3em;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }