* {
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    background-color:#0060bf;
    height: 114px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom:rgba(65, 65, 65, 0.3) solid 1px;
    animation: .5s linear;
    z-index: 10;
}
#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}


#top-nav-logo {
	background-image: url(../images/homeCow.png);
	background-repeat: no-repeat;
	background-size: 179px auto;
	width: 179px;
	height: 90px;
	display: inline-block;
	margin: 12px 0 0 2px;
	position: relative;
	z-index: 2;
}


ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	height: 114px;
	width: 2fr;
}

a {
	display: inline-flex;
	background-color: transparent;
	margin: 10px;
	margin-left: 0px;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	border-radius: 3px;
	padding: 4px;
	color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    text-decoration: underline;
}
button:hover {
    text-decoration: underline;
}



button {
	font-size: 16px;
	background-color: transparent;
	border-radius: 3px;
	padding: 4px;
	color: white;
	margin-right: 20px;
	margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.demoUserButton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

#login-link, #register-link {
    padding: 5px;
    font-weight: bold;
    color: #d7e7f5;
}

#register-link{
    border: 2px solid #d7e7f5;
    border-radius: 5px;
}
li {
    width: fit-content;
}
.main {
    background-color: transparent;
    text-align: center;
}

 h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

#quote {
	padding-top: 114px;
}

#signup-main-page{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
    background-color: #d24b03;
    border-color: transparent;
	font-size: 23px;
	border-radius: 4px;
	padding: 11px 32px 12px;
    line-height: 1.2;
	margin-top: 30px;
	margin-bottom: 10px;
}
.btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
