
#profile-container, #edit-profile-container, #edit-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d7e7f5;

}

table, th, td {
    font-size: x-large;
}

table {
    width: 50%;
    border: 5px outset #0060bf;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px lightslategray;
}

td {
    text-align: center;
    border-bottom: solid #0060bf;
}

th {
    text-align: left;
    border-bottom: solid #0060bf;
}

@media screen and (max-width: 768px) {
    table {
        width: auto;
    }
}

#edit-btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.edit-button, .cancel-button {
    font-size: x-large;
    font-weight: bold;
    color: lightgrey;
    text-decoration: none;
    background-color: #2678c9;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 2px;
    text-align-last: center;
}

.edit-button:hover, .cancel-button:hover {
    box-shadow: 0px 0px 5px grey;
}

.cancel-button {
    background-color: dimgray;
    color: darkred;
}

#profilePic {
    width: 50%;
}
.edit-head {
     font-size: xx-large;
     font-weight: bold;

 }

 .edit-container {
    background-color: #d7e7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .edit-form {
     display: flex;
     flex-direction: column;
     padding: 2px;
     font-size: larger;
     align-items: left;
 }


 #home-img {
    position: absolute;
    left: 0px;
    top: 50px;
}

#cow-image {
    width: 25%;
}
