
#profile-container, #edit-profile-container, #edit-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d7e7f5;

}

table, th, td {
    font-size: x-large;
}

table {
    width: 50%;
    border: 5px outset #0060bf;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px lightslategray;
}

td {
    text-align: center;
    border-bottom: solid #0060bf;
}

th {
    text-align: left;
    border-bottom: solid #0060bf;
}

@media screen and (max-width: 768px) {
    table {
        width: auto;
    }
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

input {
    height: 2em;
    border-radius: 4px;
    color: #555555;
    border: 1px solid #ccc;
    box-shadow: 1px 1px rgb(0,0,0,.3);
    margin-bottom: 15px;
    transition-duration: 0.3s;
    outline: none;
}
input:hover {
    background-color:#F0F8FF;
}
.edit-button {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 96, 191, 0.1);
        border: 1px solid transparent;
        font-size: 15px;
        padding: 5px 11px 4px;
        font-weight: 700;
        border-radius: 3px;
        top: 20em;
        right: 35em;
        transition-duration: 0.3s;
        text-decoration: underline;
}
.pass-button {
    background-color: pink;
    height: 10em;
    width: 10em;
}
.buttons-container {
    position: relative;
    height: 4em;
    width: 10em;
    left: 30em;
    top: -1em;
}


.edit-button:hover {
    background-color: rgba(0, 96, 191, 0.2);
}
.cancel-button {
    /* display: inline-block; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 96, 191, 0.1);
    border: 1px solid transparent;
    font-size: 15px;
    padding: 5px 11px 4px;
    font-weight: 700;
    border-radius: 3px;
    top:20em;
    transition-duration: 0.3s;
}
.cancel-button:hover {
    background-color: rgba(0, 96, 191, 0.2);
}

#profilePic {
    width: 20%;
}
.edit-head {
     font-size: xx-large;
     font-weight: bold;
 }

 .edit-container {
    background-color: #d7e7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:5em;
 }

 .edit-form {
     display: flex;
     flex-direction: column;
     padding: 2px;
     font-size: larger;
     align-items: left;
 }


 #home-img {
    position: absolute;
    left: 0px;
    top: 50px;
}

#cow-image {
    width: 25%;
}
