@keyframes blue-lightblue {
    from {
        background-color: #0060bf;
    }

    to {
        background-color: #3292f2;
    }
} 

 @keyframes lightblue-purple {
    from {
        background-color: #3292f2;
    }

    to {
        background-color: purple;
    }
}

@keyframes purple-green {
    from {
        background-color: purple;
    }

    to {
        background-color: green;
    }
}

@keyframes green-blue {
    from {
        background-color: green;
    }

    to {
        background-color: #0060bf;
    }
}

@keyframes out-frame {
    from {
        left: 0%;
    }

    to {
        left: -250%;
    }
}

@keyframes in-frame {
    from {
        left: 250%;
    }

    to {
        left: 0%;
    }
}
