* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #d7e7f5;
}

#container {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 180px 4fr 2fr;
	background-color: #d7e7f5;
}

.main-body-div {
	margin-top: 9px;
}

body {
	margin: 0px;
}

.icon {
	width: 15px;
	height: 15px;
}

#nav {
	height: 40px;
	width: 100%;
	background-color: #0060bf;
	grid-row-start: 1;
	grid-column: 1 / span 3;
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 180px 4fr 2fr;
	align-items: center;
}

#menu-img {
	grid-column-start: 1;
	justify-self: center;
	margin-right: 65%;
}

#menu-img > img {
	width: 18px;
}

#nav-search {
	grid-column-start: 2;
	width: 295px;
	height: 30px;
	background-color: #2678c9;
	border-radius: 3px;
	border: 0px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#nav-search:focus {
	background-color: #ffffff;
}

#nav-search-img {
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

#nav-search-img:focus {
	background-color: #ffffff;
}

#nav-search-input {
	width: 100%;
	background-color: #2678c9;
	border: 0px solid black;
	border-radius: 3px;
	height: 30px;
}

#nav-search-input:focus {
	background-color: #ffffff;
	outline: none;
}

/* Non-functioning for now */
#nav-search-input::before {
	/* content: url("search.png"); */
	background: url("public/icons/search.png");
}

.dropdown {
	grid-column-start: 3;
	align-self: center;
	justify-self: right;
	margin-right: 5%;
	position: relative;
}

#nav-settings-img {
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
	background-color: #d7e7f5;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.inline {
	display: inline;
}

.link-button {
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: 100%;
	font-weight: bold;
}
.link-button:focus {
	outline: none;
}
.link-button:active {
	color: red;
}

#profile-link {
	text-align: center;
	font-weight: bold;
}

#lists {
	background-color: #d7e7f5;
	grid-row-start: 2;
	grid-column-start: 1;
	width: 100%;
	height: 1000px;
}

#current-list {
	background-color: #ffffff;
	grid-row-start: 2;
	grid-column-start: 2;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#summary {
	background-color: #e4eef8;
	grid-row-start: 2;
	grid-column-start: 3;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#cow-img {
	width: 140;
}

#list-title {
	font-size: 18px;
	margin-top: 40px;
	margin-left: 20px;
}

#task-summary-container {
	display: flex;
	flex-direction: row;
}

.inner-summary-container {
	background-color: #dbe8f6;
	border-radius: 5px;
	height: 53px;
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.inner-summary-container > p {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.task-num {
	margin: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#task-list-ul {
	list-style-type: none;
}

.task-box {
	border: 1px dotted black;
}

.task-detail-container {
	/* display: none; */
	background-color: #f4f4f4;
	z-index:1;
	overflow: auto;
	right: 0;
	/* margin: -100px 0; */
	padding: 20px;
	width: 22%;
	height: 85vh;
	position: absolute;
}

.btn-close {
	color: #ccc;
	float: right;
	font-size: 20px;
	text-decoration: none;
}

.btn-close:hover {
	color: #000;
}
