* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #d7e7f5;
}

#container {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 180px 1fr 1fr;
	background-color: #d7e7f5;
}

.main-body-div {
	margin-top: 9px;
}

body {
	margin: 0px;
}

.icon {
	width: 15px;
	height: 15px;
}

#nav {
	height: 40px;
	width: 100%;
	background-color: #0060bf;
	grid-row-start: 1;
	grid-column: 1 / span 3;
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 180px 4fr 2fr;
	align-items: center;
}

#menu-img {
	grid-column-start: 1;
	justify-self: center;
	margin-right: 65%;
}

#menu-img > img {
	width: 18px;
}

#nav-search {
	grid-column-start: 2;
	width: 295px;
	height: 30px;
	background-color: #2678c9;
	border-radius: 3px;
	border: 0px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#nav-search:focus {
	background-color: #ffffff;
}

#nav-search-img {
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

#nav-search-img:focus {
	background-color: #ffffff;
}

#nav-search-input {
	width: 100%;
	background-color: #2678c9;
	border: 0px solid black;
	border-radius: 3px;
	height: 30px;
}

#nav-search-input:focus {
	background-color: #ffffff;
	outline: none;
}

/* Non-functioning for now */
#nav-search-input::before {
	/* content: url("search.png"); */
	background: url("public/icons/search.png");
}

.dropdown {
	grid-column-start: 3;
	align-self: center;
	justify-self: right;
	margin-right: 5%;
	position: relative;
}

#nav-settings-img {
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1px;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	font-size: 10px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
	background-color: #d7e7f5;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.inline {
	display: inline;
}

.link-button {
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: 100%;
	font-weight: bold;
}
.link-button:focus {
	outline: none;
}
.link-button:active {
	color: red;
}

#profile-link {
	text-align: center;
	font-weight: bold;
}

#lists {
	background-color: #d7e7f5;
	grid-row-start: 2;
	grid-column-start: 1;
	width: 100%;
	height: 1000px;
}

#current-list {
	background-color: #ffffff;
	grid-row-start: 2;
	grid-column-start: 2;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#summary {
	position: relative;
	background-color: #e4eef8;
	grid-row-start: 2;
	grid-column-start: 3;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#cow-img {
	width: 140;
}

#list-title {
	font-size: 18px;
	margin-top: 40px;
	margin-left: 20px;
}

#task-summary-container {
	display: flex;
	flex-direction: row;
}

.inner-summary-container {
	background-color: #dbe8f6;
	border-radius: 5px;
	height: 53px;
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.inner-summary-container > p {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.task-num {
	margin: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#task-list-ul {
	list-style-type: none;
}

.task-box {
	border: 1px dotted black;
}

.btn-close {
	color: gray;
	float: left;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
}

.btn-close:hover {
	color: #000;
}

#task-detail {
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	margin-top: 30px;
}

#user-edit {
	margin-bottom: 20px;
}

#editing {
	border-radius: 5px;
	border: 1px solid gray;
	padding: 1px 2px;
	margin-left: 5px;
	height: 30px;
	width: 70%;
	transition-duration: 0.3s;
	outline: none;
}

#editing:focus {
	border: 1.5px solid rgb(0, 183, 255, 0.8);
	box-shadow: 0 0 5px rgb(0, 183, 255, 0.3);
}

#edit-button {
	margin-left: 5px;
	border-radius: 3px;
	width: 50px;
	height: 25px;
	background-color: #d7e7f5;
	border: 1px solid #c7def1;
	transition-duration: 0.3s;
	outline: none;
}

#edit-button:hover {
	font-weight: bold;
	box-shadow: 0 0 5px rgb(0, 183, 255, 0.3);
}

#edit-button:focus {
	border: 1.5px solid rgb(0, 183, 255, 0.8);
	box-shadow: 0 0 5px rgb(0, 183, 255, 0.3);
}

.list-info {
	margin-left: 5px;
}

.label-name {
	font-weight: bold;
	color: #444444;
}

#status {
	margin-top: 20px;
}

@keyframes slideout {
	from {
		left: 100%;
	}

	to {
		left: 5%;
	}
}

@keyframes slidein {
	from {
		left: 0%;
	}

	to {
		left: 100%;
	}
}

.task-detail-container {
	position: absolute;
	height: 100%;
	width: 100%;
	offset: 100px 100px;
	z-index: 1;
	background-color: white;
	left: 100%;
	animation: 0.3s linear;
	border-top-left-radius: 6px;
	margin-left: -9px;
	padding: 0px;
}

.body-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#incomplete-task-div {
}

.task-container-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 32px;
	border-top: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	/* margin: 0px; */
}

.task-container-div > span {
	/* padding-left: 10px; */
	margin-left: 1.5%;
}

.task-container-div > input {
	/* padding-left: 10px; */
	/* margin-left: 20px; */
	margin-left: 1%;
}

.task-btn {
	margin-left: auto;
	border-style: none;
	border-radius: 2px;
}
#complete-task-div {
}

#tasks-sum {
	color: #0060bf;
	font-weight: bold;
}

.red-btn {
	/* background-color: #f47174; */
	background-color: #f84b4b;
}

.blue-btn {
	background-color: #2678c9;
}

#add-task-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 54px;
	max-height: 94px;
}

#add-task-input {
	width: 95%;
	height: 32px;
	margin-top: 11px;
	margin-bottom: 11px;
	border-style: solid;
	border-color: #e5e5e5;
	border-radius: 3px;
}

#add-task-input:focus {
	outline: none;
	border-color: #0060bf;
}

#add-task-btn {
	width: 85px;
	height: 32px;
	align-self: flex-end;
	margin-right: 2.5%;
	margin-bottom: 8px;
	border: none;
	border-radius: 3px;
	background-color: #2e8ceb;
	color: white;
	font-weight: bold;
}

.list-content {
	margin-left: 5px;
	font-weight: bold;
	color: #444444;
}
